[submodule "rpi/rpi/nrf_driver_rpi"]
	path = rpi/rpi/nrf_driver_rpi
	url = git@github.com:dyrkane7/nrf_driver_rpi.git
[submodule "rpi/nrf_driver_rpi"]
	path = rpi/nrf_driver_rpi
	url = git@github.com:dyrkane7/nrf_driver_rpi.git
